body, h1, h2, h3, h4, p, a {
    margin: 0;
    font-size: 100%;
    font-family: "William", "Arial", sans-serif;
}

* {
    box-sizing: border-box;
}

.header-one {
    height: 100vh;
    background-color: #7fffd4;
    background-image: url(https://img5.goodfon.com/original/2000x1335/0/fa/gorod-dozhd-zdaniia-doma-osveshchenie-amsterdam-ed-gordeev-g.jpg);
    background-size: cover;
    background-position: center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.header-title {
    font-size: 140px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500px;
    margin: auto;
    color: white;
    font-weight: normal;
}

.background {
    padding-bottom: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(https://content1.rozetka.com.ua/goods/images/original/94787335.jpg);
}

.section {
    width: 790px;
    font-size: 0;
    margin: 0 auto 100px;
}

.card {
    width: 350px;
    display: inline-block;
    margin-right: 90px;
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(187, 19, 19, 0.9);
    background-color: white;
    padding: 45px 45px 45px;
}

.no-margin-right {
    margin-right: 0px;
}

.card-title {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 500px;
    margin-bottom: 10px;
    text-align: center;
}

.card-image {
    width: 100%;
    margin-bottom: 25px;
}

.card-text {
    font-size: 20px;
    text-align: center;
}

.footer {
    height: 50vh;
    background-color: black;
    display: flex;
}

.footer-text {
    color: white;
    margin: auto;
    font-size: 50px;
    font-weight: 500;
}